<!DOCTYPE html>
<head>
  <title></title>
<!--- bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!--- angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
 <!--- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>-->

<!--- custom script -->
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">


</head>
<body>
	<h1> BYU Events </h1>
	<body ng-app="comment" ng-controller="MainCtrl">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
<div id="center">
	<div class="page-header"> 
		<h2>Comments</h2>
	</div>
  <form ng-submit="addComment()" style = "margin-top30px;">
    <input type="text" ng-model="formContent"></input>
    <button type="submit">Add Comment</button>
  </form>
  <div>
    {{test}}
  </div>
  <div ng-repeat="comment in comments | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
    {{comment.title}} - upvotes: {{comment.upvotes}}
  </div>
  <p></p>
  <p></p>
  <p></p>
<input type="text" ng-model="enteredValue">
<br>
<button type="button" ng-Click="findValue(enteredValue)">Search Comments</button>
<h3>Results</h3>
	<ul>
		<li ng-repeat="result in results"> 
			<p>{{result.title}} - upvotes: {{result.upvotes}}</p>
		</li>
	</ul>
</div>
</div>	

</div>
</div>

</body>

</html>

